{% extends 'base.html' %}

{% block content %}

<h1>
    {% if recipe %}Edit recipe{% else %}Add recipe{% endif %}
</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Name"
           value="{{ recipe.name|default:'' }}"><br><br>

    <label>Coctail Image:</label><br>
        <input type="file" name="image"><br><br>

    <textarea name="ingredients" placeholder="Ingredients">
{{ recipe.ingredients|default:'' }}
    </textarea><br><br>

    <textarea name="instructions" placeholder="Instruction">
{{ recipe.instructions|default:'' }}
    </textarea><br><br>

    <button type="submit">Save</button>
    <button type="button" onclick="history.back()">Cancel</button>
</form>

{% endblock %}